*
    font-family: 'Nunito Sans', sans-serif

body
    background-color: FAFAFA

@import "blocks/header"
@import "blocks/filters"
@import "blocks/searchbar"
@import "blocks/filter"
@import "blocks/countries"
@import "blocks/country"
@import "blocks/country-descr"

.hidden 
    display: none

.dark-mode
    color: white

.dark-mode::-webkit-input-placeholder 
    color: white
 
.dark-mode-dark
    background-color: #202C36

.dark-mode-light
    background-color: #2B3844

.dark-mode-img
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(150%) contrast(104%)
